<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
	<div class="container" ng-if="!isCookieUndefined()">
		<button class="btn-lg nodecoration pull-right" ng-click="logout()">Logout</button>
	</div>
	<div class="container text-center">
		<img src="/images/tourists.png" class="img-rounded img-responsive" />
	</div>
</div>

<div class="container" ng-if="isCookieUndefined()">
    	<div class="form-group">
		    <label for="username" class="col-sm-2 control-label">Username</label>
		    <div class="col-sm-10">
		        <input type="text" ng-model="loginDto.userName" class="form-control" id="username" placeholder="Username"/>
		    </div>
		</div>
		
		<br>
		
		<div class="form-group">
		    <label for="password" class="col-sm-2 control-label">Password</label>
		    <div class="col-sm-10">
		        <input type="password" ng-model="loginDto.password" class="form-control" id="password" placeholder="Password"/>
		    </div>
		</div>
		
		<br><br>
		
      <div class="row">
        <div class="col-md-12 text-center">
          <p><a class="btn btn-default" ng-click="login(loginDto)" role="button">Login &raquo;</a></p>
        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Awesome!</p>
      </footer>
    </div> <!-- /container -->
