<div class="container pad-top">
	<div class="row">
		<hr>
		<input type="text" ng-model="fancyfilter" />
		<hr>

		<table class="table categorytable table-bordered">
			<thead>
				<tr>
					<th style="width: 20%; border-right: 1px solid;">Select
						locality</th>
					<th style="width: 10%;">#</th>
					<th style="width: 20%;">Locality name</th>
					<th style="width: 50%;">Locality description</th>
				</tr>
			</thead>
			<tr ng-repeat="locality in localities | filter:fancyfilter"
				selection-model selection-model-type="'checkbox'"
				selection-model-mode="'single'"
				selection-model-selected-class="'foobar'">
				<td>
					<a class="btn-primary btn-sm nodecoration"  
						ui-sref="showCountries()">Choose</a>
				</td>
				<td>{{$index + 1}}</td>
				<td style="width: 20%;"><b>{{locality.name}}</b></td>
				<td style="width: 80%;">{{locality.description}}</td>
			</tr>
		</table>
	</div>
</div>
